# OPERATORS
types 1.unary
      2.binary
      3.ternary

In [1]:
a=10 
b=25

In [2]:
a+b

35

In [3]:
a-b

-15

In [4]:
a++

SyntaxError: invalid syntax (<ipython-input-4-22e3d6dc1353>, line 1)

In [7]:
a=a+1

In [8]:
a

12

## 2.BINARY operators
      types 1.arithmetic
            2.logical
            3.bitwise
            4.relation
            5.assignment
            6.membership
            7.identity

     ## 1. ARITHMETIC OPERATORS

In [9]:
## 1.ARITHMETIC
a=5
b=10

In [10]:
a+b

15

In [11]:
a-b

-5

In [12]:
a*b

50

In [13]:
a%b

5

In [14]:
a//b

0

In [15]:
a/b

0.5

In [16]:
a**b

9765625

    ## 2.LOGICAL operators [1.and  2.or  3.not]
    
    1. "and"

In [2]:
## in "and" operator if both values are true(means other than zero) than second value will be result
25.68 and 36.25

36.25

In [4]:
"free" and "string1"

'string1'

In [6]:
## in "and" if any values of those is false(means zero(o)) than result false
False and 25.38

False

In [8]:
0 and 78.698

0

       2."or"

In [9]:
## in "or" operator if both values are true(means non zero) than first value is the result
89.25 or "deepak"

89.25

In [10]:
"dee" or 89036

'dee'

In [12]:
##if one value is true and other value is false than it show the true
0 or 25.36

25.36

In [13]:
25.25 or 0

25.25

In [14]:
False or True

True

In [15]:
## if the both the are false than it will show the false
0 or 0

0

In [16]:
print(False or False)

False

      3. not

In [17]:
not 10

False

In [19]:
40 not 25

SyntaxError: invalid syntax (<ipython-input-19-57fac13da66c>, line 1)

     ## 3.BITWISE operator
         ''' it convert given integer into binary form'''
          types 1.bitwise AND(&)
                2.OR(!)
                3.XOR(^)
                4.complement(~)
                5.left shift(<<)
                6.right shift(>>)
            1.bitwise AND(&)

In [22]:
(10&10)

10

       ## 4.RELATIONAL operator
         '''to compare the values and gives result True or False'''
           1.<(leesthan)
           2.<=(lessthan or equal) 
           3.>(greaterthan)
           4.>=(greaterthan or equal)
           5.==(equal)
           6.!=(not equal)

In [23]:
a=25
b=35

In [24]:
a<b

True

In [25]:
a<=b

True

In [26]:
a>b

False

In [27]:
a>=b

False

In [28]:
a==b

False

In [29]:
a!=b

True

     ## 5.ASSIGNMENT operator("="symbol)
     '''a=10 in the left value a(always variable) right value (value, variable, address)'''
         "a+=10 equal to a=a+10"

In [6]:
a=10
a+=10
a

20

In [8]:
a=10
a-=7
a

3

In [9]:
a=10
a/=2
a

5.0

In [10]:
a=30
a//=7
a

4

In [11]:
a=56
a%=6
a

2

     ## 6.MEMBERSHIP operator("in", "not in" are used)
     '''used for value is present in the statement'''
           1."in"

In [2]:
s="hello sir good morning"
print ( "good" in s)

True

In [3]:
print("g" in s)

True

In [4]:
print("Hello" in s)

False

       2."not in"

In [5]:
l=[10,20,30,42,58,68,45,47,59]
print(35 not in l)

True

In [6]:
print(58 not in l)

False

     ## 7.IDENTITY operator
     '''identity operator check the two different variables address the same location'''
     '''when we use the equal(==)it will check the value
          1.in

In [1]:
s="heelllooo"
s1="heelllooo"
print(s is s1)

True

In [4]:
s2="heelllooo"
s3="heelllo"
print(s is s1)

False

     2.is not

In [6]:
s="heelllooo"
s1="heelllooo"
print(s is not s1)

False

In [7]:
s="heelllooo"
s1="heelooo"
print(s is not s1)

True

# 3.TERNARY operator
   syntax:'''x=first value  if condition else seecond value'''

In [9]:
a=10
b=20
x=b if b>a else a
print(x)

20

In [16]:
a=30
b=25
x=b if a<b else a
print(x)

30