# set

In [2]:
# set is similar to the list like collection of the heterogeneous object
# set use the {}
# duplicates are not allowed in set
# in set there is no indexing and slicing
# we cannot multiply in set
# cancatenation willnot happen
s={10,20,30,40,50}
type(s)

set

In [4]:
s={10,10,10,20,20,30,30,50,50,60}
print(s)

{10, 50, 20, 60, 30}

In [6]:
# jumbling may be happen
s={1,2,3,8,5,6,9}
print(s)

{1, 2, 3, 5, 6, 8, 9}

In [1]:
s1={2,3,4,5,9}
s2={5,8,9,10,8}
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [2]:
s1*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [3]:
s1

{2, 3, 4, 5, 9}

In [4]:
s1[4]

TypeError: 'set' object is not subscriptable

In [6]:
s1[0:]

TypeError: 'set' object is not subscriptable

In [7]:
## TO REMOVE THE DUPLICATES IN LIST, WE CONVERT THE LIST INTO SET
l1=[10,250,36,25,69,250,10,36,250,36,10,25,25]
s3=set(l1)
s3

{10, 25, 36, 69, 250}