# TUPLE

In [1]:
# TUPLE IS COLLECTION OF HETEROGENEOUS OBJECT
#TUPLE IS () OPEN BRACKETS
#IT IS IMMUTABLE
# we can write the without brackets

In [2]:
t=(10,20,25,30,"hello",10.5)

In [3]:
type(t)

tuple

In [4]:
t=10,20,30,40

In [5]:
type(t)

tuple

In [ ]:
t=(10,20,30,40)

In [6]:
print(t)

(10, 20, 30, 40)

In [8]:
## indexing
t[0]

10

In [9]:
t[-2]

30

In [10]:
## slicing
t[1:3]

(20, 30)

In [11]:
t[-4:-1]

(10, 20, 30)

In [12]:
#concatenation
t1=(2,3,4,5)
t2=(5,6,7,8)
t1+t2

(2, 3, 4, 5, 5, 6, 7, 8)

In [3]:
t=(10,20,30,40)
t+50

TypeError: can only concatenate tuple (not "int") to tuple

In [4]:
## multiplication
t*2

(10, 20, 30, 40, 10, 20, 30, 40)

In [6]:
t*3

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [2]:
## convert the list into tuple
l=[10,20,35,36,45,58]
t=tuple(l)
print(t)

(10, 20, 35, 36, 45, 58)

In [3]:
t

(10, 20, 35, 36, 45, 58)

In [4]:
### immutable(one the tuple is created we caanot change the value in the tuple)
t[3]

36

In [5]:
t[3]=36.666

TypeError: 'tuple' object does not support item assignment

In [6]:
t

(10, 20, 35, 36, 45, 58)